@model Supermarket.Web.Models.ProductUpdateViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Update Product</h2>

<form asp-controller="Admin" asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Product.ProductName"></label>
        <input asp-for="Product.ProductName" class="form-control" placeholder="Product Name" />
        <span asp-validation-for="Product.ProductName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.CategoryId"></label>
        <select asp-for="Product.CategoryId" class="form-control"
                asp-items="@(new SelectList(Model.Categories,"CategoryId","CategoryName"))"></select>
        <span asp-validation-for="Product.CategoryId"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" class="form-control" placeholder="Price" />
        <span asp-validation-for="Product.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Stock"></label>
        <input asp-for="Product.Stock" class="form-control" placeholder="Stock" />
        <span asp-validation-for="Product.Stock"></span>
    </div>
    <input type="hidden" asp-for="Product.ProductId" />
    <input type="submit" value="Update" class="btn btn-xs btn-success" />
</form>