@model Supermarket.Web.Models.CartSummaryViewModel

<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    @foreach (var item in Model.Cart.CartLines)
    {
        
            <a class="dropdown-item">@item.Product.ProductName <span class="badge">@item.Quantity</span></a>
        
    }
    <li role="separator" class="divider"></li>
   
        <a class="dropdown-item"><span class="glyphicon glyphicon-align-left glyphicon-shopping-cart" aria-hidden="true"></span>@Model.Cart.Total</a>
   
    <li role="separator" class="divider"></li>
   
        <a class="dropdown-item" asp-controller="Cart" asp-action="List">Go to cart details</a>
   
</ul>

